*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@font-face {
    font-family: 'Aero Matics Stencil', sans-serif;
    src: url(../fonts/Aero_Matics_Stencil_Regular.ttf);
}

/*************** BOTONES ***************/
.general-btn{
    width: 200px;
    height:45px;
    background-color: #6c9a27;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
}

.general-btn a{
    text-decoration: none;
    color: #fff;
}
/*************** TITULOS ***************/
h2 {
    position: relative;
    margin: 2% 0;
}

h2::before,
h2::after {
    content: '';
    position: absolute;
    top: 50%; /* Posicionamos las líneas en la mitad vertical del título */
    width: 100px; /* Ancho de las líneas (puedes ajustarlo según tus preferencias) */
    height: 2px; /* Altura de las líneas (puedes ajustarlo según tus preferencias) */
    background-color: rgb(191, 220, 93); /* Color de las líneas (puedes ajustarlo según tus preferencias) */
}

h2::before {
    left: 0; /* Línea izquierda */
    transform: translateX(-130%); /* Centramos la línea izquierda al principio del título */
}
  
h2::after {
    right: 0; /* Línea derecha */
    transform: translateX(130%); /* Centramos la línea derecha al final del título */
}

/*************** MEDIA QUERIES ***************/
@media (max-width: 768px) {
    h2::before,
    h2::after {
        width: 50px; /* Reduce el ancho de las líneas para dispositivos móviles */
    }
    
    .general-btn {
        width: 150px;
        height: 40px;
        font-size: 1em;
    }
}
