body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.background-image {
    background-image: url('../img/areo1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Filtro oscuro */
    z-index: 1;
}

.info {
    position: relative;
    z-index: 2; /* Asegura que info aparece sobre el filtro oscuro */
    text-align: center;
    color: white; /* Asegura que el texto sea legible sobre el fondo oscuro */
    
}

.info #entrada {
    font-style: oblique;
    font-size: smaller;
    color: rgb(158, 158, 158);
}

.btns{
    display: flex;
    gap: 5%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
button {
    position: relative;
    z-index: 2;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #547c24;
    border: none;
    padding: 0.5%;
}

button a{
    color: white;
    text-decoration: none;
}